matplotlib~=3.3.2
seaborn~=0.11.1
drosolf~=0.1.3
yaml~=0.2.5
pyyaml~=5.4.1
pandas~=1.2.1
numpy~=1.21.2
suite2p~=0.10.0
h5py~=2.10.0
ipython~=7.26.0
scipy~=1.6.0
scikit-learn~=0.24.1
rastermap~=0.1.3
scikit-image~=0.17.2
upsetplot~=0.5.0
xmltodict~=0.12.0
datajoint~=0.13.2
dash~=1.21.0
plotly~=5.1.0
pyarrow~=4.0.1
tifffile~=2021.2.1
bottleneck~=1.3.2
pillow~=8.1.0
backports~=1.0
tables~=3.6.1
future~=0.18.2
shapely~=1.7.1
click~=8.0.1
sphinx